.header__contato {
    width: 100%;
    height: 47.37rem;

    background: url("../../public/assets/images/banner-contato.png"), #2969ae;
    background-repeat: no-repeat;

    @media (max-width: 1250px) {
        height: auto;
    }

    .content__contato {
        width: 100%;
        max-width: 1248px;
        padding: 18rem 2rem 2rem 2rem;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;

        position: relative;

        @media (max-width: 641px) {
            padding-top: 10rem;
        }

        .infos__contato {
            width: 100%;
            max-width: 31.25rem;

            .title__contato {
                span {
                    font-family: "Nunito";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.1rem;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                    color: #ffdb21;
                }

                h1 {
                    font-family: "Nunito";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 2.5rem;
                    line-height: 46px;
                    letter-spacing: -0.01em;
                    color: #ffffff;
                }
            }

            section {
                padding-top: 3rem;
                display: flex;
                flex-direction: column;
                gap: 3rem;

                .phone__contato {
                    display: flex;
                    gap: 1rem;

                    span {
                        font-family: "Nunito";
                        font-weight: bold;
                        font-size: 1.5rem;
                        line-height: 28px;
                        letter-spacing: -0.01em;
                        color: #ffffff;
                    }
                }

                .email__contato {
                    display: flex;
                    gap: 1rem;

                    a {
                        font-family: "Nunito";
                        font-weight: bold;
                        font-size: 1rem;
                        line-height: 18px;
                        letter-spacing: -0.01em;
                        color: #ffffff;
                    }
                }

                .content__whats__contato {
                    display: flex;
                    gap: 5.4rem;

                    @media (max-width: 641px) {
                        gap: 1rem;
                    }

                    .w1 {
                        display: flex;
                        gap: 1rem;

                        .w1__info__contato {
                            display: flex;
                            flex-direction: column;
                            gap: 2px;

                            span {
                                font-family: "Nunito";
                                font-weight: bold;
                                font-size: 0.75rem;
                                line-height: 14px;
                                letter-spacing: -0.01em;
                                color: #ffffff;
                            }

                            a {
                                font-family: "Roboto";
                                font-weight: normal;
                                font-size: 0.8rem;
                                line-height: 21px;
                                color: #ffffff;
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }
}

.anuncio {
    background: #2969ae;
    padding-left: 20px;
    padding-right: 20px;

    .wrapper__anuncio {
        width: 100%;
        height: 26.43rem;
        max-width: 1248px;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
    }

    .content__anuncio {
        display: flex;
        flex-direction: column;
        max-width: 32.625rem;

        h2 {
            font-family: "Nunito";
            font-weight: bold;
            font-size: 2rem;
            line-height: 37px;
            letter-spacing: -0.01em;
            color: #ffffff;
        }

        p {
            max-width: 52rem;
            font-family: "Roboto";
            font-weight: normal;
            font-size: 1.1rem;
            line-height: 23px;
            letter-spacing: -0.01em;
            color: #dad7d7;
            opacity: 0.8;

            padding: 13px 0 22px 0;
        }
    }
}

.iframe__contato {
    width: 100%;
    height: 44.375rem;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}
