.header__sobre {
    width: 100%;
    height: 44.125rem;

    background-image: url("../../public/assets/images/banner-sobre.png");

    .content__sobre {
        display: flex;
        flex-direction: column;
        gap: 1.37rem;

        max-width: 1248px;
        margin: 0 auto;

        padding: 18.063rem 2rem 0 2rem;

        @media (max-width: 641px) {
            padding-top: 10rem;
        }

        span {
            font-family: "Nunito";
            font-weight: bold;
            font-size: 1.1rem;
            line-height: 21px;
            letter-spacing: -0.01em;
            color: #ffdb21;
        }

        h1 {
            font-family: "Nunito";
            font-weight: bold;
            font-size: 40px;
            line-height: 46px;
            letter-spacing: -0.01em;
            color: #ffffff;
            max-width: 35.313rem;
        }
    }
}

.content__infos {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    min-height: 29.87rem;
    overflow: hidden;

    @media (max-width: 641px) {
        flex-wrap: wrap;
    }

    .info {
        padding: 20px;
        width: 100%;
        max-width: 488px;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        p {
            font-family: "Roboto";
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.01em;
            color: #7d8596;

            max-width: 30.5rem;
        }
    }

    .img {
        height: 100%;

        @media (max-width: 1440px) {
            max-width: 50%;
        }

        @media (max-width: 641px) {
            max-width: 100%;
        }
    }
}

.content__carousel {
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
    min-height: 42rem;
    height: auto;
    display: flex;

    padding-top: 8.81rem;
    margin-bottom: 6.25rem;

    @media (max-width: 641px) {
        flex-wrap: wrap;
        padding-top: 3rem;
        margin-bottom: 3rem;
    }

    .carousel {
        width: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 641px) {
            width: 100%;
            order: 2;
        }

        .box__carousel {
            width: 30rem;
            height: 36rem;
            background: #c4c4c4;
            border-radius: 40px 0px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 40px 0px;
            }
        }
    }

    .infos__carousel {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        padding-left: 20px;
        padding-right: 20px;

        @media (max-width: 641px) {
            width: 100%;
        }

        h2 {
            font-family: "Nunito";
            font-weight: bold;
            font-size: 2rem;
            line-height: 42px;
            letter-spacing: -0.01em;
            color: #124480;
            padding-bottom: 1rem;

            max-width: 30.5rem;
        }

        p {
            font-family: "Roboto";
            font-weight: normal;
            font-size: 1rem;
            line-height: 24px;
            letter-spacing: -0.01em;
            color: #7d8596;

            max-width: 36.87rem;

            &:nth-child(6) {
                color: #7dafeb;
                font-weight: bold;
            }
        }
    }
}
