.form {
    max-width: 1248px;
    padding: 5rem 2rem 5rem 2rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    .progressbar {
        width: 50%;
        height: 5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        .bg-line {
            width: 100%;
            background-color: #c4c4c4;
            border: 1px solid #c4c4c4;

            position: relative;

            .line {
                border: 1px solid #205ca4;
            }

            .content__icon__1 {
                position: absolute;
                left: -10%;
                top: 50%;
                transform: translateY(-35%);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                    > span {
                        font-family: 'Nunito', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                        letter-spacing: -0.01em;
                        color: #205ca4;
                    }

                    .one {
                        width: 41px;
                        height: 41px;
                        border-radius: 50%;
                        background: #c4c4c4;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #ffffff;
                    }
            }



            .content__icon__2 {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -35%);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                > span {
                    font-family: 'Nunito', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                    color: #205ca4;
                }

                .two {
                    width: 41px;
                    height: 41px;
                    border-radius: 50%;
                    background: #c4c4c4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                }
            }

            .content__icon__3 {
                position: absolute;
                right: -5%;
                top: 50%;
                transform: translateY(-35%);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                > span {
                    font-family: 'Nunito', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                    color: #205ca4;
                }

                .three {
                    width: 41px;
                    height: 41px;
                    border-radius: 50%;
                    background: #c4c4c4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                }
            }
        }
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .other-info-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;

            button {
                width: 280px;
                height: 48px;
                background: #ffdb21;
                border-radius: 10px;
                color: #b2b2b2;
                font-family: "Roboto";
                font-size: 16px;
                font-weight: 700;
                color: #124480;
            }

            h4 {
                font-family: 'Nunito', sans-serif;
                font-size: 32px;
                font-weight: 700;
                line-height: 42px;
                letter-spacing: -0.01em;
                text-align: center;
                color: #124480;
            }

            p {
                font-family: 'Roboto';
                font-size: 14px;
                font-weight: normal;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #7D8596;
            }
        }

        .body .personal-info-container,
        .sign-up-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .buttons {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                button {
                    width: 168px;
                    height: 48px;
                    background: #f2f2f2;
                    border-radius: 10px;
                    color: #b2b2b2;
                    font-family: "Roboto";
                    font-size: 16px;
                    font-weight: 700;

                    &:hover {
                        background: #ffdb21;
                        color: #124480;
                        transition: all 0.3s ease-in;
                    }
                }

                .active {
                    background: #ffdb21;
                    color: #124480;
                }
            }

            span {
                font-family: "Nunito", sans-serif;
                font-size: 2rem;
                font-weight: 700;
                line-height: 42px;
                letter-spacing: -0.01em;
                text-align: center;
                color: #124480;
            }



            input,
            select {
                width: 100%;
                height: 3rem;
                border: none;
                border-radius: 10px;
                background: #f2f2f2;
                padding-left: 1rem;
                padding-right: 1rem;
                color: #8c9193;
            }

            #mensagem {
                width: 100%;
                height: 10rem;
                resize: none;
                border: none;
                border-radius: 10px;
                background: #f2f2f2;
                padding-left: 1rem;
                padding-top: 1rem;
            }

            .group-inputs {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                input {
                    width: 50%;
                }
            }

            .group-uf {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                #uf {
                    width: 25%;
                }
            }

            .dados-imovel {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .section {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 5rem;

                    .box {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        .opcoes {
                            display: flex;
                            gap: 0.5rem;

                            .opcoao {
                                width: 32px;
                                height: 32px;
                                border-radius: 10px;
                                background: #F2F2F2;
                                color: #8C9193;

                                display: flex;
                                align-items: center;
                                justify-content: center;

                                cursor: pointer;

                                label {
                                    margin-right: 10px;
                                    cursor: pointer;
                                }

                                input[type="radio"] {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        gap: 1rem;

        button {
            width: 168px;
            height: 48px;
            background: #ffdb21;
            border-radius: 10px;
            color: #124480;
            font-family: "Roboto";
            font-size: 16px;
            font-weight: 700;

            &:disabled {
                background-color: #f2f2f2;
                color: #b2b2b2;
            }
        }
    }
}
